<!DOCTYPE html>
<html>
<head>
    <title>WelcomeHome - Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="container">
<h1>Welcome {{username}}</h1>

<hr>
<h2>WelcomeHome Features</h2>
<ul>
    {% if is_staff %}
    <li><a href="/start_order">Start an Order</a></li>
    <li><a href="/add_to_order">Add Items to Current Order</a></li>
    <li><a href="/prepare_order">Prepare Order</a></li>
    <li><a href="/rank_volunteers">Rank Volunteers</a></li>
    <!-- <li><a href="/update_order_status">Update Order Status</a></li> -->
    <!-- <li><a href="/year_end_report">Year-End Report</a></li> -->
    <li><a href="/accept_donation">Accept Donation</a></li>
    {% endif %}

    <!-- Features available to all users -->
    <li><a href="/find_single_item">Find Single Item</a></li>
    <li><a href="/find_order_items">Find Order Items</a></li>
    <li><a href="/my_orders">My Orders</a></li>
    <li><a href="/upload_form">Upload a Photo</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>

</body>
</html>
